input[type="checkbox"]:checked {
    background-color: black;
}
#adminCarsTable {
    width: 75%;
    margin: 0 auto;
}
h2 {
    text-align: center;
}
button {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}